proxmox_api_url          = "https://[PROXMOX_IP_ADDRESS]:8006/api2/json" # Your Proxmox IP Address
proxmox_api_token_id     = "[YOUR_API_TOKEN_ID]"                         # API Token ID
proxmox_api_token_secret = "[YOUR_API_TOKEN_SECRET]"                     # API Token Secret
proxmox_node             = "[YOUR_PROXMOX_NODE_NAME]"                    # Name of your Proxmox node
vm_iso                   = "[STORAGE_NAME]:iso/[YOUR_ISO_FILE_NAME]"     # Path to your VM ISO file
ciuser                   = "[YOUR_CLOUD_INIT_USERNAME]"                  # Cloud-init username
cipassword               = "[YOUR_CLOUD_INIT_PASSWORD]"                  # Cloud-init password
ipconfig0                = "ip=dhcp"                                     # IP configuration (DHCP in this case)
ssh_key                  = "[YOUR_SSH_PUBLIC_KEY]"                       # Your SSH public key
